.footer{
    background-color: rgba(0, 0, 0, 0.883);
    padding: 15px 0px;
    color:white
}

p{
    display: inline;
    font-size: 25px;
    margin-right: 100px;
    font-weight: 500;
    color:rgba(10, 93, 202, 0.835)
}

.font-style{
    font-size: 20px;
    margin-right: 20px;
}